@import "tailwindcss" source("./");
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --color-active: var(--active);
  --color-selected: var(--selected);
}
@keyframes spinner-move { to { stroke-dashoffset: -100; } }
@keyframes spinner-dash { 0%,100% { stroke-dasharray:15 85; } 50% { stroke-dasharray:40 60; } }
